html,
body {
    height: 100%;
    min-width: 1200px !important;
}
.bg-white {
    background-color: #fff !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

/*我的自定义容器 start*/
.wrapper {
    padding: 10px 15px;
    margin: 0 auto;
    border-top: 1px solid #e7eaec;
}

.wrapper-content {
    padding: 15px 15px 5px 15px;
    margin: 0 auto -10px;
    background-color: #fff;
}
.page-header {
    /* padding: 20px 0 9px; */
    padding:5px 0 20px;
    border-bottom: 1px solid #eee;
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 15px;
    text-align: center;
}
/*我的自定义容器 end*/

/*重置bootstrap-table分页样式 end*/
.pagination > li > a, .pagination > li > span {
    background-color: #FFF;
    border: 1px solid #DDD;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #f4f4f4;
    border-color: #DDD;
    color: inherit;
    cursor: default;
    z-index: 2;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
}
/*重置bootstrap-table分页end*/

/*重置按钮外边框 start*/
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0;

}

/*重置按钮外边框 end*/

/*重置btn-primary为主色调 start*/
.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #fff;
}

.btn-primary:focus,
.btn-primary.focus {
    background-color: #18a689;
    border-color: #18a689;
    color: #fff;
}

.btn-primary:hover {
    background-color: #18a689;
    border-color: #18a689;
    color: #fff;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #18a689;
    border-color: #18a689;
    color: #fff;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    background-color: #18a689;
    border-color: #18a689;
    color: #fff;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #18a689;
    border-color: #18a689;
}

.btn-primary .badge {
    color: #fff;
    background-color: #18a689;
}
.btn-primary span {
    color: #fff !important;
}
/*重置btn-primary end*/

/*重置form-control start*/
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: inherit;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #18a689;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*重置form-control end*/

/*重置 bootstrap-datetimepicker 时间选择字号 start*/
.datetimepicker {
    font-size: 12px;
}
/*重置 bootstrap-datetimepicker 时间选择字号 end*/

/*bootstrap-select 外观变为bootstrap风格*/
.btn-select {
    background-color: #FFFFFF !important;
}
.btn-select:hover,.btn-select:focus,.btn-select:active {
    background-color: #FFFFFF !important;
    border-color: #18a689 !important;
    outline: 0 !important;
    -webkit-box-shadow: none  !important;
    box-shadow: none  !important;
}


/*重置tab栏 a标签 start*/
.nav > li > a {
    padding: 6px 20px 6px 25px;
    color: #a7b1c2;
    font-weight: 600;
}
/*重置tab栏 a标签 end*/

/* 设置bootstrap-table中链接的颜色为蓝色*/
.bootstrap-table tr td>a {
    color: #337ab7 !important;
}
table td{word-break: keep-all;white-space:nowrap;}
/* 设置bootstrap-table 表头th没有蓝色边框*/
.bootstrap-table .fixed-table-header th {
    outline: 0 !important;
}
/*重置layer-msg的外观样式*/
.layui-layer-msg {
    position: relative;
    width: 250px !important;
    height: 60px !important;
    background-color: rgba(24,166,137,.6) !important;
}
.layui-layer-msg:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 30px;
    background: url("../../images/icon_message.png") no-repeat center;
}
.layui-layer-msg:after {
    content: '消息提示';
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 70px;
}
.layui-layer-content {
    margin: 20px 0 0 70px !important;
    padding: 5px 0 0 !important;
    text-align: left !important;
}

/*重置bootstrap-select 蓝色边框为无 start*/
.bootstrap-select.btn-group .dropdown-menu li a,.bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
}
/*重置bootstrap-select 蓝色边框为无 end*/

/*bootstrap-下拉限制高度为500px*/
.bootstrap-select .dropdown-menu {
    max-height: 300px !important;
}
.bootstrap-select .dropdown-menu span{
    font-weight: normal !important;
}
/*bootstrap-table 单元格字体*/
.bootstrap-table .fixed-table-body  td {
    font-family: "微软雅黑" !important;
    font-size: 13px !important;
}

/*datapicker外边框*/
.dropdown-menu {
    border: none;
    -webkit-box-shadow: 0 0 3px rgba(86, 96, 117, .3) !important;
    box-shadow: 0 0 3px rgba(86, 96, 117, .3) !important;
}
/*固定列字号和单元格统一*/
.fixed-table-body-columns td,.fixed-table-body-columns td a,.fixed-table-body-columns td span {
    font-family: "微软雅黑" !important;
    font-size: 13px !important;
}
/*bootstrap-select 下拉字体*/

input {
    font-weight: normal !important;
}
/*居中*/
.center-modal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: none !important;
}
/*切换明细表文字样式*/
a.switch {
    margin-right: 20px;
    font-size: 12px !important;
    color: #1ab394 !important;
}


/*标题不换行*/
label,.control-label {
    font-size: 12px !important;
    color: #6a676c !important;
    white-space: nowrap;
}


/*切换明细*/
a.toggle-report{
    position: relative;
    color: #1ab394 !important;
    margin-right: 20px;
    font-size: 12px;
    background-color: #fff;
}
.toggle-report:before {
    position: absolute;
    left: -18px;
    top: 2px;
    content: '';
    width: 12px;
    height: 12px;
    background: url("../../images/switch_view.png") no-repeat center;
}

/*bootstrapSelect* 去上下padding/
 */
.bootstrap-select .dropdown-menu {
    padding: 0 !important;
}


.inlineB{
    display: inline-block!important;
}
.vm{
    vertical-align: middle;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.relative{
    position: relative;
}
.cm{
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.like-select{
    width: 100px;
    border:0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.cursor{
    cursor: pointer;
}

.caretBottom {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.white_color{
    color: #fff;
}
.caret-group .caret,.caret-group .caretBottom{
    opacity: 0.3;
}
.caret-group .caret.active,.caret-group .caretBottom.active,.caret-group .caret:hover,.caret-group .caretBottom:hover{
    opacity: 1;
}
textarea{
    resize: none;
}
.fontInherit{
    font-size: inherit !important;
}