.btn-none {
    border: none !important;
    border-radius: 0 !important;
    background-color: #fff;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.borderB{
    border-bottom: 1px solid #ddd;
}
.btn-none:focus, .btn-none:hover, .btn-none:active, .btn-none:visited {
    background-color: #fff !important;
    outline: none!important;
}
.opsty-none .btn-none{
    width: 100% !important;
    padding: 6px 20px;
}

.bootstrap-select .dropdown-toggle.btn-none:focus{
    outline: none!important;
}
.ibox .open>.dropdown-menu {
    right: auto;
}
.btn .caret{
    margin-left: 2px;
}
.inlineB{
    display: inline-block !important;
}
.vm{
    vertical-align: middle;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.relative{
    position: relative;
}
.cm{
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.like-select{
    width: 100px;
    border:0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.cursor{
    cursor: pointer;
}

.caretBottom {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.white_color{
    color: #fff;
}
.bold{
    font-weight: 600;
}
.caret-group .caret,.caret-group .caretBottom{
    opacity: 0.3;
}
.caret-group .caret.active,.caret-group .caretBottom.active,.caret-group .caret:hover,.caret-group .caretBottom:hover{
    opacity: 1;
}
textarea{
    resize: none;
}
.fontInherit{
    font-size: inherit !important;
}
.breakword{
    word-break: break-all;
}

.nav.nav-tabs li a:hover{
    background-color: #fff;
}
.b{
    font-weight: 700;
}
.btn-default{
    color: #676a6c;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:focus,.btn-default.focus,.btn-default:hover{
    color: #676a6c;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.blue{
    color:#3671AB!important;
}
.green{
    color: #1ab394!important;
}
.arrow_right{
    width: 14px;
    height: 14px;
    background: url("../../images/arrow_right.png") no-repeat center;
}
.arrow_left{
    width: 14px;
    height: 14px;
    background: url("../../images/arrow_left.png") no-repeat center;
}
.dot{
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #00cca3;
}
.dot-success{
    background-color: #fff;
    color: #00cca3;
    width: 20px;
    height: 20px;
    font-size: 20px;
}
.dot-error{
    background-color: #fff;
    color: #f66560;
    width: 20px;
    height: 20px;
    font-size: 20px;
}
.dot-text{
    font-size: 14px;
    white-space: nowrap;
    position: absolute;
    top:20px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.dot-error .dot-text,.dot-success .dot-text{
    top: 25px;
}
.small-font{
    font-size: 12px!important;
}
.borderNone{
    border: none!important;
}
.nameImgList{
    color: #1ab394;
    margin-top: 25px;
}
.nameImgList li{
    margin: 1em 2em 1em;
}
.nameImgList li:first-child{
    margin-left: 0;
}
.height0{
    height: 0;
    overflow: hidden;
}
.opacity{
    opacity: 0;
}
.v-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1000000;
}
.monthLineBox{
    width: 75%;
    transform: translateY(-44px);
    margin: auto;
}
.monthLine{
    counter-reset: count 0;
    width: 100%;
    height: 16px;
    border-bottom: 0px solid #808080;
}
.line-dot{
    counter-increment: count 1;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -3px;
    border-left: 0px solid #808080;
    left: 0;
}
.line-dot .scale{
    position:absolute;
    top: 13px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
}
.monthLineBox .slider{
    margin-top: 42px;
    height: 7px;
    width: 100%;
    background:#ECECEC;
}
.monthLineBox .slider .slider-block{
    width: 16px;
    height: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    /* border-radius: 50%; */
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #C5CCD5;
    border-radius: 16px;
    box-shadow:0px 0px 4px 2px rgba(197,204,213,0.6);
}
.monthLineBox .slider .slider-bar{
    background-color: #C5CCD5;
    position: absolute;
    top: 0;
    bottom: 0;
}
.icon-error{
    width: 20px;
    height: 20px;
    overflow: hidden;
    display: block;
    background: url("../../images/icon-error.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
.icon-gou{
    width: 20px;
    height: 20px;
    overflow: hidden;
    display: block;
    background: url("../../images/icon-gou.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}